header{
    flex-direction: row; 
    background-color: orange;
    min-height: 200px;
    width: 100%;
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    border-color: blue;
    border-width: 2px;
    border-style: groove;
    margin: 10px;
}

.container_img{
    height: 400px;
}

footer{
    min-height: 200px;
    max-height: 500px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: orange;
    width: 100%;
}

.image_row{
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.foot_img{
    height: 200px;
    border-radius: 50%;
}

p:hover{
    text-decoration: underline;
}

p {
    font-size: 20px;
    max-width: 50%;
}